<!-- templates/user-register.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>{{subject}}</title>
</head>
<body>
  <h2>Добро пожаловать, {{userName}}!</h2>
  <p>Вы успешно зарегистрированы на сайте <a href="{{url}}">«{{applicationName}}»</a>.</p>
  <p>Ваши данные для входа:</p>
  <b>Логин:</b> {{login}}<br>
  <b>Пароль:</b> {{password}}
</body>
</html>
